<VirtualHost *:80>

  ServerName {{ item.vhost }}
  Redirect permanent / https://{{ item.vhost }}

</VirtualHost>

<VirtualHost {{ item.listen | default('*') }}:{{ item.port | default('443') }}>

  ServerName {{ item.vhost }}
{% if item.alias is defined %}
  ServerAlias {{ item.alias }}
{% endif %}
  DocumentRoot {{ vhost_docroot }}
  ErrorLog {{ vhost_errorlog }}
  CustomLog {{ vhost_customlog }} combined
  SSLEngine on
  SSLProtocol {{ apache_ssl_settings.SSLProtocol }}
  SSLCipherSuite {{ apache_ssl_settings.SSLCipherSuite }}
  SSLHonorCipherOrder {{ apache_ssl_settings.SSLHonorCipherOrder }}
  SSLCertificateFile {{ vhost_sslpath }}/{{ item.vhost }}.crt
  SSLCertificateKeyFile {{ vhost_sslpath }}/{{ item.vhost }}.key
  SSLCertificateChainFile {{ vhost_sslpath }}/{{ item.vhost }}.chain

</VirtualHost>
{% if item.allow_override_all is defined and item.allow_override_all|bool %}

<Directory "{{ vhost_docroot }}">
    AllowOverride All
</Directory>
{% endif %}
